# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.log
*.aux
*.bbl
*.synctex.gz
*.idx
*.ind
*.toc
*.blg
*.fdb*
*.dvi
*.fls
*.xcp
*.brf
*.ilg
*.swp
*.lof
*.loq
*.lot
